# dependencies
node_modules/

# Next.js
.next/
out/

# Sanity build output
studio-clothe-brand/dist/

# env
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system
.DS_Store

# editor
.vscode/
.idea/
.agents